<!DOCTYPE html>
<html>
<head>
    <title>Технологическая зависимость</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>Что такое технологическая зависимость?</h1>
    <p>Она проявляется в неспособности контролировать применение гаджетов. Технологии – неотъемлемая часть нашей жизни. Всевозможные устройства незаменимы на работе, они дают возможность развлечься и постоянно находятся под рукой. Обратная сторона этого явления - технологическая зависимость.</p>
    <h2>Элементы поведенческой зависимости:</h2>
             <ol>
                   <li>Утрата контроля.</li>
                   <li>Развитие зависимых отношений.</li>
                   <li>Растущая потребность в увеличении количества времени, отведенного на данное занятие.</li>
                   <li>Нарушение ее нормального ритма жизни.</li>
             </ol>
    <h2>Зависимость от технологий: причины и как ее избежать</h2>
    <p>При разумном использовании устройства приносят много пользы. Но у некоторых людей гаджеты превращаются в смысл жизни. И тогда становится крайне сложно контролировать их использование. Без устройства под рукой человек практически теряет способность рассуждать и принимать решения.</p>
    <h3>Причины:</h3>
    <ol>
        <il>удобство и мгновенное удовлетворение от технологии</il>
        <il>страх упустить важную информацию или события</il>
        <il>стремление к социальной связи и самоутверждению через социальные сети и другие онлайн-платформы</il>
        <il>захватывающая природа определённых приложений и игр, которые предназначены для того, чтобы держать человека вовлечённым и возвращаться за новыми эмоциями.</il>
    </ol>
    <h3>Чтобы избежать зависимости от технологий, можно предпринять следующие шаги:</h3>
    <ol>
        <il>Практиковать осознанность. Это техника, которая включает в себя присутствие в настоящем моменте и сосредоточение на своих мыслях и чувствах без осуждения.</il>
        <il>Найти другие способы общения с людьми. Например, с помощью личных занятий, волонтёрства или присоединения к общественной группе.</il>
        <il>Установить ограничения на использование устройств. Это может включать ограничение количества времени, которое человек проводит за телефоном или компьютером каждый день, или установление определённого времени суток, когда он проверяет электронную почту или учётные записи в социальных сетях.</il>
        <il>Делать перерывы и заниматься другими видами деятельности. Это может включать в себя прогулку, чтение книги или занятие хобби.</il>
    </ol>
    
    <img src="https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/b1a6f228591747.5605380532c61.jpg" alt="Image 1">
    <iframe src="https://www.meteoblue.com/en/weather/widget/daily?geoloc=detect&days=5&tempunit=CELSIUS&windunit=KILOMETER_PER_HOUR&precipunit=MILLIMETER&coloured=monochrome&pictoicon=1&maxtemperature=1&mintemperature=1&windspeed=1&windgust=0&winddirection=1&uv=0&humidity=0&precipitation=1&precipitationprobability=1&spot=1&pressure=0&layout=light"  frameborder="0" scrolling="NO" allowtransparency="true" sandbox="allow-same-origin allow-scripts allow-popups allow-popups-to-escape-sandbox" style="width: 270px; height: 420px"></iframe><div><!-- DO NOT REMOVE THIS LINK --><a href="https://www.meteoblue.com/en/weather/week/index?utm_source=daily_widget&utm_medium=linkus&utm_content=daily&utm_campaign=Weather%2BWidget" target="_blank" rel="noopener">meteoblue</a></div> 
</body>
</html>